language: python
python:
    - 3.6
sudo: false

cache: pip
before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
install:
    - make ci_requirements
    - pip install -U pip wheel codecov
script:
    - make validate_translations
    - make validate
after_success:
    - codecov
