language: python
python:
- 3.5
- 3.8
env:
  global:
  - DOCKER_USERNAME=edxbuilder
  - secure: oDKPudHf8dghflhwwOGoBcP01WTC2bwxwiKxqqIMtt9QAPb7yLboSeqspNcMGPl53l1Ftsoo7iSYhgBH0E0oVf+NVujp7P5eNDp0pAdj8iipfoNCv+DGCULcAf7V2fxFbSkcwnteMgWQ2WrK7mx1grih7Xq/hfNs++Le4kvTGO6PBmDDq2SY4Hviamk2rSu07uO4Ms5oWS3pDfoXykqkafN1FOhEq8ExHF8Uf16olGR/zhBmIe29VyA5vcSqPv0KYzRoJ/iWQLFWYPs5ChI/mCiyFZIkX8bfNVDF38J/IT81Or6JkbzSeEinWyxPSRevHaQRlWigWiuiyIjpmQjXOC5Di1WVuEVhC4BMnnmCvmk8g34XBbl4yaqJfKOEnOI2WLyVOK98FFZGd/xvJEUv+JTVjyQ5kKo4ZtCl7T7urWr1nJG0rrjKpVv4zTmucqZu2/7rchDzKj1JKO8yM7ic71r5jkUG/9VKBda81oQh66np+sg9ajP3vQm++Y/WWDS/iKw5lI4R5FP3ZXXpEQsaIkIjTPN+UxB9Kk/Y+n4ic/LEEj9T/cBWKk+vfTn6WUt7BtJwscsC6+j6pG/n+/KKoSZiDqG+XSdeEebU7KqP7DOjIH4lOGy4VtXYVaXeJgwkg7AIt1hqgwJ7VueSe8mXDB3bePon9KrtD0kfZNU2XZY=
sudo: false
cache: pip
before_install:
- export DISPLAY=:99.0
install:
- make ci_requirements
- pip install -U pip wheel codecov
script:
- make validate_translations
- make validate
after_success:
- codecov
deploy:
  - provider: script
    script: make docker_push
    on:
      branch: master
      python: 3.5
  - provider: script
    script: ".travis/deployment_prs.sh"
    on:
      branch: master
      python: 3.5

