{% extends "email/email_base.html" %}
{% load i18n %}
{% block body %}
    <!-- Message Body -->
    <p>
        {% filter force_escape %}
            {{ TEMPLATE_GREETING }}
        {% endfilter %}
    </p>
    {% if REMINDER %}
        <p>
            {% trans "Reminder - your edX license is awaiting activation!" %}
        </p>
    {% endif %}
    <p>
        {% trans "You have been assigned a license to an edX Enterprise Subscription. edX offers high-quality online courses from the world's best universities and institutions. After activating your license, you'll have instant access to enroll in a wide-array of courses." %}
    </p>
    <p>
        <a href="{{ LICENSE_ACTIVATION_LINK }}">{% trans "Activate your license" %}</a>{% trans " and begin your learning journey." %}
    </p>
        {% trans "edX Login: " %}{{ USER_EMAIL }}
        <br>
        {% trans "Expiration Date: " %}{{ EXPIRATION_DATE }}
    </p>
    <p>
        {% trans "You can bookmark the following link to easily access your learning portal in the future." %}
    </p>
    <p>
        <a href="{{ LEARNER_PORTAL_LINK }}">{% trans "Access your learning portal" %}</a>
    </p>
    <p>
        {% filter force_escape %}
            {{ TEMPLATE_CLOSING }}
        {% endfilter %}
    </p>
    <p>
        <a href="{{ UNSUBSCRIBE_LINK }}">{% trans "Unsubscribe" %}</a>
    </p>
    <!-- End Message Body -->
{% endblock body %}
