{% extends "email/email_base.html" %}
{% load i18n %}
{% block body %}
    <!-- Message Body -->
    <p>
        {% filter force_escape %}
            {{ TEMPLATE_GREETING }}
        {% endfilter %}
    </p>
    <p>
        {% with enterprise_text=ENTERPRISE_NAME|add:" partnered with edX to give everyone access to high-quality online courses." %}
            {% trans enterprise_text %}
            {% trans " Start your subscription and browse courses in nearly every subject including Data Analytics, Digital Media, Business & Leadership, Communications, Computer Science and so much more." %}
            {% trans " Courses are taught by experts from the world’s leading universities and corporations." %}
        {% endwith %}
    </p>
    <p>
        <a href="{{ LICENSE_ACTIVATION_LINK }}"
        style="
            color: #ffffff;
            text-decoration: none;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            background-color: #002b2b;
            padding: 12px 50px;
            display: inline-block;
        ">
            {# old email clients require the use of the font tag :( #}
            <font color="#ffffff"><b>{% trans "Start Learning" %}</b></font>
        </a>
    </p>
    <p>
        {% trans "So you don't have to search for this link, bookmark your learning portal now to have easy access to your subscription in the future: " %}
    </p>
    <p>
        <a href="{{ LEARNER_PORTAL_LINK }}"
        style="
            color: #0d7d4d;
            text-decoration: none;
            border-radius: 4px;
            background-color: #ffffff;
            border: 3px solid #0d7d4d;
            display: inline-block;
            padding: 12px 50px;
        ">
            <font color="#0d7d4d"><b>{% trans "My Learning Portal" %}</b></font>
        </a>
    </p>
    <p>
        {% filter force_escape %}
            {{ TEMPLATE_CLOSING }}
        {% endfilter %}
    </p>
    <!-- End Message Body -->
{% endblock body %}
