SOCIAL_AUTH_EDX_OAUTH2_KEY = 'replace-me'
SOCIAL_AUTH_EDX_OAUTH2_SECRET = 'replace-me'
SOCIAL_AUTH_EDX_OAUTH2_URL_ROOT = 'http://127.0.0.1:8000/oauth'
BACKEND_SERVICE_EDX_OAUTH2_KEY = 'license-manager-backend-service-key'
BACKEND_SERVICE_EDX_OAUTH2_SECRET = 'license-manager-backend-service-secret'
