# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

-c common_constraints.txt

# diff-cover latest requires (pluggy>=0.13.1,<0.14.0)
# which conflicts with pytest(pluggy>=0.12,<2.0.0) and tox(pluggy>0.12) both of these fetch pluggy==1.0.0
# but diff-cover latest has a pin (pluggy<1.0.0a1)
# Using the same version of diff-cover which is being used currently in edx-platform to avoid this conflict.
diff-cover==4.0.0

# For python greater than or equal to 3.9 backports.zoneinfo is causing failures
backports.zoneinfo;python_version<"3.9"

# path>16.14.0 has removed the deprecated abspath function, which is breaking the docs build
path<16.15.0

# The newer version if this package has drop support for background tasks so that why
# when i include that new version (7.0.0) in the requirements upgrade, most of the jobs start failing
# so i have to pin this version to 6.1.0
edx-django-utils==6.1.0

# pinning braze-client below version 1, which will likely introduce a breaking-change
# as the package is converted to an openedx plugin.
# https://github.com/edx/braze-client/pull/30
edx-braze-client<1
